<h1>Presenters</h1>

<% @presenters.each do |p| %>
    <div class="presenter">
        <%= image_tag p.photo.url(:medium) %>
        <h2><%= p.name %></h2>
        <%= markdown p.description %>

    </div>
<% end %>
