.boring-user {
    background-color: #999;
    border-color: #444;
    color: #444;
    h3 {
        text-shadow: 0px 0px 2px rgba(36,36,36,.4);
    }
}

.power-user {
    background-color: #cfd;
    border-color: #aeb;
    overflow: auto;

    img {
        padding: 6px;
        width: 100px;
    }
}

.boring-user, .power-user {
    text-align: center;
    margin-bottom: 2px;
    h3 {
        font-weight: bold;
        text-align: center;
        margin-bottom: 2px;
    }

    h4 {
        font-weight: normal;
        text-align: center;
        font-style: italic;
        margin-top: 2px;
        font-size: 80%;
    }
}

a.waitlisted {
    color: #d44;
    font-weight: bold;
}

.registrant {
    border-top: thin solid #444;
    border-bottom: thin solid #444;

    h3 {
        margin-top: 2px;
        margin-bottom: 2px;
        font-weight: bold;
    }
}
